/*header*/
header{
    background-image: url(../UPLOAD/headrech.jpg);
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
#response{
    background-color: grey;
    height: 450px;

}
/*index*/
            ul {
                float: left;
                list-style: none;
                padding: 0px;
                border: 1px solid black;
                margin-top: 0px;
            }

            input, ul {
                width: 250px;
            }

            li:hover {
                color: silver;
                background: #0088cc;
            }

/*element*/

    #bodyE{
       background-image: url("https://www.publicdomainpictures.net/pictures/80000/velka/scratched-film-strip-background.jpg");
       background-repeat: no-repeat;
       background-size: cover;
   }

    #headerelement{
        background-color: red;
        min-height: 125px;
    }

    .H1element{
        text-align: center;
        font-family: serif;
        font-size: 60px;
        color:#3b3b42;

    }

    #totalE{
    background-color: #c2ceff6b;
    height: 450px;
    width: 450px;
    text-align: center;
    margin-left: 40%;
    border: solid 10px #1d7196;
    }

    .pE{
        font-size: 55px;
        color: #3b3b42;

    }


    /*recherche*/

    #bodyrecherche{
        background-image: url("https://images.vexels.com/media/users/3/71964/preview2/20d1e8ce966a96f29d52371ded3eb92a-creative-3d-film-strip-background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    #lien{
    background-color: #dad0d059;
    border: solid 5px #7a7772;
    color: white;
    font-size: 25px;
    height: 532px;
    width: 458px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 104px;

        }
    

    .pRE{
        font-size: 25px;
        font-family: bold;
    }

    .ARE{
    color: #000000;
    font-style: none;
    text-decoration: none;
    font-size: 25px;
    }

    #H1RE{
    color: #a26666;
    font-family: fantasy;
    }